<h2>admin</h2>
<button (click)="logout()">logout</button><br><br>

<button (click)='router.navigate(["log"]);'>dmca requests/notices/disputes</button>

<p>{{ error }}</p>

<form>
    users:
    <br>
    <select name="username" [(ngModel)]="user.id">
        <option value="{{ user._id }}" *ngFor="let user of users" >
            {{ user.email }} - admin: {{ user.isAdmin }}, active: {{ user.isActive }}
        </option>
    </select>
    <br>
    <button (click)="toggleAdmin()">toggle admin</button>
    <button (click)="toggleActive()">toggle active</button>
</form>
<br>
<form>
    songs:
    <br>
    <select name="song" [(ngModel)]="song._id">
        <option value="{{ song._id }}" *ngFor="let song of songs" >
            {{ song.title }} - copyright: {{ song.copyRightStrike }}, hidden: {{ song.hidden }}
        </option>
    </select>
    <br>
    <button (click)="toggleCopyright()">toggle copyright</button>
    <button (click)="toggleHidden()">toggle hidden</button>
</form>

<br><br>

<p>dmca and takedown policy</p>
<button (click)="createToggleDMCATD()">create</button>
<button (click)="updateToggleDMCATD()">update</button>
<!-- pressing either of these buttons shows the form below -->
<div *ngIf="DMCATDFlag">
    <form (ngSubmit)="createOrUpdateDMCATD()">
        dmca:
        <br>
        <textarea [(ngModel)]="dmcaTakeDown.dmca" name="dmca" cols="40" rows="15"></textarea>
        <br>
        takedown:
        <br>
        <textarea [(ngModel)]="dmcaTakeDown.takeDown" name="takeDown" cols="40" rows="15"></textarea>
        <br>
        <input type="submit" value="submit"/>
        <button (click)="DMCATDFlag = false;">cancel</button>
    </form>
</div>
<p>{{ DMCATDResult }}</p>

<p>---</p>

<p>security and privacy policy</p>
<button (click)="createToggleSecurityPrivacy()">create</button>
<button (click)="updateToggleSecurityPrivacy()">update</button>
<!-- pressing either of these buttons shows the form below -->
<div *ngIf="securityPrivacyFlag">
    <form (ngSubmit)="createOrUpdateSecurityPrivacy()">
        security:
        <br>
        <textarea [(ngModel)]="securityPrivacy.security" name="security" cols="40" rows="15"></textarea>
        <br>
        privacy:
        <br>
        <textarea [(ngModel)]="securityPrivacy.privacy" name="privacy" cols="40" rows="15"></textarea>
        <br>
        <input type="submit" value="submit"/>
        <button (click)="securityPrivacyFlag = false;">cancel</button>
    </form>
</div>
<p>{{ securityPrivacyResult }}</p>