<h2>admin</h2>
<button (click)="logout()">logout</button><br><br>

<p>{{ error }}</p>

<form>
    users:<br>
    <select name="username" [(ngModel)]="user.id">
        <option value="{{ user._id }}" *ngFor="let user of users" >
            {{ user.email }} - admin: {{ user.isAdmin }}, active: {{ user.isActive }}
        </option>
    </select>
    <br>
    <button (click)="toggleAdmin()">toggle admin</button>
    <button (click)="toggleActive()">toggle active</button>
</form>
<br>
<form>
    songs:<br>
    <select name="song" [(ngModel)]="song._id">
        <option value="{{ song._id }}" *ngFor="let song of songs" >
            {{ song.title }} - hidden: {{ song.hidden }}
        </option>
    </select>
    <br>
    <button (click)="toggleHidden()">toggle hidden</button>
</form>

<app-top-songs [change]="change"></app-top-songs>