<p>{{ error }}</p>
<div>
	<h2>sign in</h2>
	<form (ngSubmit)="login()">
		<label for="email">email:</label>
		<input type="text" name="email" [(ngModel)]="userModel.email" />
		<label for="password">password:</label>
		<input type="text" name="password" [(ngModel)]="userModel.password" />
		<input type="submit" />
	</form>
</div>
<div>
	<h2>create a new account</h2>
	<form (ngSubmit)="createUser()">
        <label for="email">email:</label>
        <input type="text" name="email" [(ngModel)]="newUserModel.email" />
        <label for="password">password:</label>
        <input type="text" name="password" [(ngModel)]="newUserModel.password" />
        <input type="submit" />
    </form>
</div>

<app-top-songs [change]="change"></app-top-songs>

